{% include 'bootstrap/base.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>API -PAS</title>
    <style>
        #container {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
<body>
    <div class="container" id="container">
        <div class="container">
            <h1>endpoints:</h1>
            <h4><strong>/api/state</strong>: Estado de los dispositivos conectados y envio de actualización del estado.</h4>
            <h4><strong>/api/state/log</strong>:  Obtiene el registro del dia y de las veces que se manipuló los dispositivos conectaddos.</h4>
            <h4><strong>/api/programming</strong>: Programación de encendido/apagado de los dispositivos conectados.</h4>
        </div>
        <div class="container" style="margin-top: 20px">
            <img src="{{ url_for('static', filename='iot.png') }}" alt="iot" width="30%">
        </div>
    </div>

    <div class="container">
        <h2>Integrantes:</h2>
        <ul >
            <li>Elder Urzola</li>
            <li>Julanito</li>
            <li>Pepito</li>
            <li>Sultanito</li>
        </ul>
    </div>
</body>
</html>